/* 
    CONTIENE TODOS LOS ESTILOS DE LOS ELEMENTOS QUE SE REPITEN EN TODAS LAS PAGINAS

    Ejs: 
        - Estilos generales de texto
        - Estilos generales de fondo de color
        - Navbar
        - Footer
*/

/* SELECTOR DE UNIVERSAL */
/* * {
    margin: 0;
} */

/* SELECTOR DE ETIQUETA */
/* p {
    color: red;
    background-color: green;
} */

/* SELECTOR DE CLASE */
/* .rebelde {
    color: yellow;
    background-color: blue;
} */

/* SELECTOR DE ID */
/* #unico {
    color: orange;
    background-color: purple;
} */


/***************** SELECTORES ANIDADOS *****************/
/* SELECTOR DE HIJOS */
/* section > p {
    color: aqua;
    background-color: brown;
} */
/* SELECTOR DE DESCENDIENTES */
/* section h2 {
    color: pink;
} */

/* SELECTOR DE HERMANOS */
/* h2 ~ p {
    color: salmon;
} */
/* SELECTOR DE HERMANO ADYASCENTE */
/* h2 + p {
    color: lightgreen;
} */

/* SELECTOR DE ATRIBUTO */
/* p[type="text"] {
    color:red;
} */


/* TAREA: Investigar el selector de columna */



/* PSEUDOCLASE NTH-CHILD */
/* .pepe > p:nth-child(5){
    color: red;
} */


/* h1, h2, h3, h4, h5, h6 {
    color: red;
} */
