* {
    margin: 0;
}


/********* POSICIONAMIENTO ***********/
/* 
    Es una caracteristica que nos permite desencajar elementos para formar una estructura tridimencional.

    POSICIONAMIENTOS:
        -> absoluto -> Permite movilizar un elemento respecto de los margenes del navegador
        -> relativo -> Permite movilizar un elemento respeto de los margenes de su contenedor padre
        -> fijado -> Parecido al absoluto, solo que una vez elegida la posicion, esta queda fija.
        -> pegajoso (sticky) -> investigar de tarea
*/


/* .uno {
    background-color: transparent;
    border: 2px dashed black;
    width: 800px;
    height: 500px;
    position: absolute;
    z-index: 1;
}
.dos {
    background-color: yellow;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 150px;
    right: 50px;
    z-index: 2;
}
.tres {
    background-color: green;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 3;
} */


/* .padre {
    width: 500px;
    height: 500px;
    background-color: aqua;
    position: absolute;
    top: 200px;
    left: 200px;
}
.hijo {
    width: 150px;
    height: 150px;
    background-color: orange;
    position: relative;
    left: 100px;
} */


/* DROPDOWN EFFECT */
/* nav {
    background-color: blueviolet;
    width: 100%;
    height: 30px;
    position: fixed;
    
    & ul {
        color: white;

        & li {
            cursor: pointer;
            & .d_box {
                width: 100px;
                height: 40px;
                background-color: orange;
                position: relative;
                top: 12px;
                display: none;
            }
        }
    }
} */

/* nav li:hover {
    & .d_box {
        display: block;
    }
} */

/* img {
    width: 100px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    transition: 2s ease-in-out;
} 
img:hover {
    transform: scale(1.25);
}

section {
    height: 100vh;
    width: 100%;
}

.otro {
    background-color: green;
} */